@use "./partials/variables" as *;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
}

.hero {
	height: calc(100vh - 5.5rem);
}

.button {
	transition: 0.2s;
	&:hover {
		color: $dark;
	}
}


.lock-screen {
	overflow: hidden;
}

.card-shadow {
	-webkit-box-shadow: 5px 5px 12px 8px #b5b5b5;
	box-shadow: 5px 5px 12px 8px #b5b5b5;
}

.card {
	transition: 0.3s;
	border: 1px solid transparent;
	&:hover {
		border: 1px solid white;
		background-color: black;
		//Scale and stop font warping
		transform: scale(1.05) translate3d(0, 0, 0) perspective(1px);
	}
}

.footer {
	min-height: 50vh;
}

.nav-button {
	@extend .button;
}

.footer-link {
	border: 0.125rem solid transparent;
	transition: 0.2s;
}

.footer-link-dark {
	@extend .footer-link;
	&:hover {
		background-color: $primary;
		border: 0.125rem solid $light;
	}
}
.footer-link-light {
	@extend .footer-link;
	&:hover {
		border: 0.125rem solid $primary;
	}
}

.blog-card {
	transition: 0.3s;

	&:hover {
		transform: scale(1.05);
	}
}
